[Unit]
Description=A server for streaming Motion-JPEG from a video capture device (RobotsGo AlphaBot2) 
After=network.target

[Service]
Type=oneshot
StandardOutput=journal
ExecStart=/usr/local/bin/mjpg_streamer -i "/usr/local/lib/mjpg-streamer/input_raspicam.so -x 854 -y 480 -fps 30"  -o "/usr/local/lib/mjpg-streamer/output_http.so -w /usr/local/share/mjpg-streamer/www"

[Install]
WantedBy=multi-user.target
